@use '../colors' as *;
@use '../mixins' as *;

body.about {
    .header {
        background-color: transparent;
        position: fixed;
        top: 0; left: 0;
        box-shadow: unset;

        transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

        &.scrolled {
            background-color: $color-light-primary;
            box-shadow: 0 0 5px rgba($gray-900, 0.3);
        }
    }

    .content {
        .hero {
            height: 100vh;

            position: relative;
            overflow: hidden;

            display: flex;
            align-items: center;
            
            &__background {
                background: linear-gradient(180deg, rgba($color-light-primary, 0.5) 0%, rgba($color-light-primary, 0.5) 60%, $color-light-primary 100%), url("/res/img/bg-about.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 100vh;

                position: absolute;
                top: 0; left: 0;
                width: 100%;

                opacity: 0;

                animation: fade-in 1s cubic-bezier(0.5, 0, 0.5, 1) both,
                    background-scaling 2.5s cubic-bezier(0.5, 0, 0.5, 1) both;

                z-index: 0;

                @include max-screen('lg') {
                    background: linear-gradient(180deg, rgba($color-light-primary, 0.5) 0%, rgba($color-light-primary, 0.5) 60%, $color-light-primary 100%), url("/res/img/me.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            &__container {
                margin: 0 128px;
                border-left: 8px solid $color-accent;
                overflow: hidden;
                animation: fade-in 0.5s ease 0.5s both;

                z-index: 1;
            }

            &__text {
                margin-left: 32px;
                animation: hero-text-slide 1s cubic-bezier(0, 0.5, 0, 1) 1s both;
            }

            &__title {
                font-size: 4rem;
                font-weight: 900;
                letter-spacing: 0.2rem;
            }

            &__subtitle {
                font-size: 1.5em;
                font-weight: 400;
            }
            &__credit {
                position: absolute;
                bottom: 16px;
                left: 16px;
                font-size: small;
            }

            &__hint {
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translate(-50%);

                text-align: center;
                font-weight: 400;
                color: $gray-50;
                filter: drop-shadow(0 3px 3px $gray-900);

                animation: fade-in 0.5s ease-in-out 2s both;
            }

            @include max-screen('lg') {
                &__container {
                    margin: 0 32px;
                }

                &__title {
                    font-size: 2.5em;
                }

                &__subtitle {
                    font-size: 1em;
                }
            }
        }

        .body {
            max-width: 1200px;
            margin: auto;
            padding: 40px;
            font-size: 1.25rem;
            display: flex;
            flex-direction: column;
            gap: 100px;

            .who-am-i {
                
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                gap: 40px;

                .picture {
                    width: 400px;
                    height: 600px;
                    margin: auto;
                    background: url('/res/img/me.jpg') center no-repeat;
                    background-size: cover;
                    border: 16px solid white;
                    border-radius: 8px;
                    box-shadow: 0 4px 16px rgba($gray-900, 0.3);
                    transform: rotate(4deg);
                }

                .heading {
                    letter-spacing: -0.05em;
                    padding-bottom: 8px;
                    border-bottom: 2px solid $color-accent;
                    font-size: 3em;

                    text-transform: uppercase;
                }

                .subtitle {
                    font-weight: 400;
                    color: $gray-500;
                    padding: 32px 0;
                }
            }

            .skillsets {
                background:
                    linear-gradient(to bottom left, $red-200, transparent),
                    linear-gradient(to top left, $red-50, transparent),
                    linear-gradient(to bottom right, $red-50, transparent),
                    linear-gradient(to top right, $red-200, transparent);
                padding: 64px;
                border-radius: 16px;
                border: 1px solid rgba($color-dark-primary, 0.1);
                box-shadow: 0 8px 20px rgba($gray-900, 0.1);

                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 100px;

                .summary {
                    border-left: 4px solid $color-accent;
                    padding-left: 16px;
                    height: fit-content;
                    
                    .title {
                        font-size: 2em;
                        font-weight: 600;
                    }
                }

                ul {
                    list-style-type: square;

                    li::marker {
                        color: $color-accent;
                    }
                }
            }
            
            @include max-screen('lg') {
                .who-am-i {
                    display: block;
                    grid-template-columns: unset;
                    .picture {
                        display: none;
                    }
                }
            }

            @include max-screen('md') {
                .skillsets {
                    padding: 32px;

                    grid-template-columns: unset;
                    grid-template-rows: auto auto;
                    gap: 20px;
                }
            }
        }
    }
}