@use 'mixins';
@use 'colors' as *;
@use 'animations';

@use 'pages/index';
@use 'pages/about';
@use 'pages/resume';
@use 'pages/works';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    font-family: 'Inter', sans-serif;
}

html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-weight: 200;
    background-color: $color-light-primary;
}

.header {
    background-color: $color-light-primary;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 5px rgba($gray-900, 0.3);

    .logo {
        div {
            display: inline;

            @include mixins.lg {
                display: block;
            }
        }
        .title {
            font-weight: 900;
            font-size: 1.5rem;
        }
    }

    .nav {
        ul {
            list-style-type: none;
            margin: 0; padding: 0;
            display: flex;
            gap: 20px;
        }

        a {
            transition: color 0.25s ease;
        }

        a:hover {
            color: $color-accent;
        }

        @include mixins.sm {
            display: none;
        }
    }

    @include mixins.sm {
        .icon-beside { display: none; }

        div.subtitle { display: none; }
    }
}

.footer {
    background-color: $gray-900;
    color: $gray-50;

    a {
        transition: color 0.25s ease;
    }

    a:hover {
        color: $color-accent;
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 3;
    }

    .right {
        flex: 1;
    }

    .socials ul {
        font-size: 1.5rem;
        list-style-type: none;
        margin: 0; padding: 0;
        display: flex;
        gap: 16px;
    }

    .nav ul {
        list-style-type: none;
        margin: 0; padding: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.header, .footer {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 20px;
        max-width: 1200px;
        margin: auto;
    }
}

main {
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon-double-slash {
    height: 1em;
    width: auto;
    vertical-align: -0.125em;
    display: inline-block;
    color: inherit;
    padding: 0 8px;
}

.icon-beside {
    padding-right: 16px;
    color: $color-accent;
}

.button {
    padding: 12px 24px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid $color-accent;
    border-radius: 100px;
    background-color: $color-accent;
    color: $gray-50;
    box-shadow: 0 4px 8px rgba($gray-900, 0.3);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: unset;
}

.divider {
    background-color: $red-a700;

    &.horizontal {
        width: 50%;
        height: 2px;
    }

    &.vertical {
        width: 2px;
        height: 50%;
    }
}

.scroll-to-top {
    width: 64px;
    height: 64px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $color-accent;
    color: white;
    font-size: 1.5rem;
    border-radius: 50%;
    border: none;
    transform: translateX(200px);

    box-shadow: 0 4px 8px rgba($gray-500, 0.5);

    transition: background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        transform 0.35s cubic-bezier(0.3, 0, 0.3, 1);
    
    cursor: pointer;

    &.scrolled {
        transform: translateX(0);
    }
}

.scroll-to-top:hover {
    background-color: $gray-50;
    color: black;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $color-light-primary;
}

::-webkit-scrollbar-thumb {
    background-color: $color-primary;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $color-text-icons;
}